@{
    ViewBag.Title = "Secrets";
}
<h2>@ViewBag.Title</h2>

<table class="table" style="font-size: 1.5em">
    <tr>
        <td>Secret via App Service reference</td>
        <td>@ViewBag.ViaRef</td>
    </tr>
    <tr>
        <td>Secret via .NET SDK</td>
        <td>@ViewBag.ViaSDK</td>
    </tr>
    <tr>
        <td>Secret via ASP.NET configBuilder</td>
        <td>@ViewBag.ViaBuilder</td>
    </tr>
    <tr>
        <td>Secret via manual REST API call</td>
        <td style="font-family: monospace; font-size: 11px;">
            <pre id="restResult"></pre>
        </td>
    </tr>
</table>

<p>Certificate Id = @ViewBag.CertId</p>
<p>Certificate Name = @ViewBag.CertName</p>
<p>As X509Certificate2 object (Subject) = @ViewBag.CertSubject</p>

<script>
    (function () {
        let json = JSON.parse(`@Html.Raw(ViewBag.ViaRest)`);
        let response = JSON.stringify(json, null, 2);
        let element = document.querySelector('#restResult');
        element.textContent = response;
    })();
</script>
